*{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none!important;
}

/*
font-family: 'Rubik', sans-serif;
font-family: 'Arvo', serif;
font-family: 'Noto Serif', sans-serif;
font-family: 'Courgette', cursive;
*/

/*------------------------header---------------------*/
.header
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.header1
{
	height: 100%;
	background-color: #0366a9;
	margin: 0;
	border-bottom: 1px solid #fff;
}

.header1 .heading
{
	margin-top: 10px;
	text-align: center;
}

.header1 .heading i
{
	margin: 0 8px;
	color:  #fff;
}

.header1 .socialicons i
{
	padding: 5px;
}

.header1 .contact
{
	text-align: center;
}

.header1 .contact i
{
	padding: 0;
	margin-left: 20px;
}

.header1 .contact p
{
	color: #fff;
	font-family: 'Noto Serif', serif;

}

.header1 .socialicons i:hover
{
  	transform: scale(1.3);
}

.header1 .contact a
{
	color: #fff;
	text-decoration: none;
	margin: 0 0 0 10px;
	padding: 5px 15px;
}

.header1 .contact a i
{
	margin: 0 4px 0 0;
}

.header1 .contact a:hover
{
	box-shadow: 0px 1px 4px #000;
}

/*-------------------------navigation--------------------------*/
#navbar
{
	position: sticky;
	top: 0;
	z-index: 3;
}

.navbar
{
	padding: 4px 50px;
	background-color: #fff;
	box-shadow: 0px 2px 3px #000;
}

.navbar .navbar-brand img
{
	height: 50px;
	width: 140px;
}

.navbar-nav .nav-item
{
	margin: 0px;
	padding: 0px;
}

.navbar-nav .nav-item .nav-link
{
	font-family: 'Rubik', cursive;
	letter-spacing: 0.5px;
	color: #000;
	font-size: 15px;
	padding: 20px 13px;
}

.navbar-nav .nav-item .nav-link:hover
{
	color: #083aaf;
}

.nav-link i
{
	margin-left: 4px;
}

/*--------------------------------dropdown----------------------------*/
.dropdown
{
	position: relative;
	display: inline-block;
}

.dropdown-content
{
  	display: none;
  	position: absolute;
  	background-color: #fff;
  	min-width: 100%;
  	box-shadow: 1px 2px 3px #4d4d4d;
  	z-index: 55;
}

.dropdown-content a
{
	font-size: 14px;
	font-family: 'Noto Serif', sans-serif;
  	color: #000;
  	padding: 15px 30px;
  	text-decoration: none;
  	display: block;
  	border-bottom: 1px solid #808080;
}

.dropdown:hover .dropdown-content
{
	display: block;
}

.dropdown:hover .nav-link
{
	color: #0366a9!important;
}

.dropdown-content a:hover
{
	background-color: #0366a9;
	color: #fff;
}

/*--------------------------slider---------------------*/
.slider .carousel-item
{
	width: 100%;
}

.slider .carousel-item img
{
	filter: brightness(75%);
	width: 100%;
	height: 85vh;
}

.slider .carousel-caption
{
	bottom: 220px;
}

.slider .carousel-caption h5
{
	color: #fff;
	font-size: 45px;
	font-weight: bolder;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 25px;
	font-family: 'Arvo',sans-serif;
}

.slider .carousel-caption p
{
	color: #00fa0a;
	font-weight: bold;
	width: 60%;
	margin: auto;
	font-size: 30px;
	line-height: 1.9;
	font-family: 'Rubik',sans-serif;
}

.slider .carousel-caption a
{
	font-size: 18px;
	text-decoration: none;
	font-family: 'Noto Serif',sans-serif;
	text-transform: uppercase;
	background-color: #ffffff;
	padding: 8px 30px;
	display: inline-block;
	color: #0366a9;
	margin-top: 15px;
	border-radius: 5px;
	box-shadow: 1px 3px 5px #000;
}

.slider .carousel-caption a:hover
{
	box-shadow: none;
	background-color: #0366a9;
	color: #fff;
}


/*-------------------------payment-----------------------*/
.payment
{
	background-color: #93ce4d;
	width: 100%;
	padding: 32px 100px;
}

.payment .text h3
{
	font-size: 35px;
	font-weight: bolder;
	letter-spacing: 2px;
	color: #fff;
	font-family: 'Arvo',sans-serif;
}

.payment .paynow
{
	margin-top: 10px;
	margin-left: 300px;
}

.payment .paynow a
{
	text-transform: uppercase;
	text-decoration: none;
	font-size: 20px;
	color: #000000;
	font-weight: bolder;
	font-family: 'Noto Serif',sans-serif;
	background-color: #fff;
	padding: 10px 50px;
	box-shadow: 0px 4px 3px #000;
	border-radius: 5px;
	letter-spacing: 1px;
}

.payment .paynow a:hover
{
	box-shadow: none;
	background-color: #212121;
	color: #fff;
}

/*---------------------------services------------------------*/
.services
{
	width: 100%;
	padding: 5.5rem 10rem;
	background-color: #fff;
}

.services h2
{
	font-size: 3rem;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Arvo',sans-serif;
	color: #1a1a1a;
}

.services h2:after
{
	content: '';
	display: block;
	background: #93ce4d;
	height: 3px;
	width: 150px;
	margin: 10px auto;
}

.services-detail
{
	text-align: center;
	margin-top: 50px;
}

.services-detail div
{
	background-color: #083aaf;
	margin: 10px 30px;
	padding: 20px 0;
	border: 1px solid #000;
}

.services-detail div:hover
{
	box-shadow: 1px 5px 5px #000;
	background-color: #87c837;
}

.services-detail i
{
	font-size: 2.5rem;
	color: #fff;
}

.services-detail li
{
	font-size: 1.2rem;
	font-family: 'Noto Serif',sans-serif;
	color: #fff;
	margin-top: 10px;
	list-style-type: none;
}

/*----------------------------aboutus----------------------------*/
.about
{
	width: 100%;
	padding: 50px 150px;
	text-align: center;
	background-color: #e6e6e6;
}

.about h2
{
	font-size: 3rem;
	font-family: 'Arvo',sans-serif;
	text-align: center;
	text-transform: uppercase;
	color: #0366a9;
}

.about h2:after
{
	content: '';
	display: block;
	background: #93ce4d;
	height: 3px;
	width: 100px;
	margin: 10px auto;
}

.about .text
{
	margin: 40px 0;
}

.about .text p
{
	font-size: 20px;
	color: #4d4d4d;
	text-align: justify;
	font-family: 'Noto Serif',cursive;
	margin-bottom: 40px;
}

.about .read-more
{
	font-size: 22px;
	font-family: 'Rubik',sans-serif;
	padding: 10px 30px;
	color: #fff;
	background-color: #93ce4d;
	box-shadow: 2px 5px 5px #000;
}

.about .read-more:hover
{
	box-shadow: none;
	color: #000;
}

.about-detail .about-serv
{
	margin: 20px 20px;
	background-color: #0366a9;
	box-shadow: 0px 4px 5px #000;
}

.about-detail .about-serv img
{
	width: 100%;
	height: 35vh;
}

.about-detail .about-serv h3
{
	font-size: 1.1rem;
	font-family: 'Rubik',sans-serif;
	color: #fff;
	text-transform: uppercase;
	padding: 25px 0; 
}

/*-------------------------------products-----------------------*/
.products
{
	background-color: #fff;
	padding: 80px 100px;
	width: 100%;
}

.products h2
{
	font-size: 3rem;
	color: #000;
	font-family: 'Arvo',sans-serif;
	text-align: center;
	text-transform: uppercase;
}

.products h2:after
{
	content: '';
	display: block;
	background: #93ce4d;
	height: 3px;
	width: 150px;
	margin: 10px auto;
}

.product
{
	margin: 50px 40px;
}

.product img
{
	width: 100%;
	height: 50vh;
}

.product ul
{
	width: 100%;
}

.product ul li
{
	background-color: #93ce4d;
	margin-top: 5px;
	list-style-type: none;
	text-transform: uppercase;
	font-size: 20px;
	font-family: 'Rubik',sans-serif;
	padding: 2px 10px;
	color: #000;
}

.product ul li i
{
	padding: 2px 20px;
	color: #083aaf;
}

.product ul li:hover
{
	color: #fff;
}

.products .product-more
{
	text-align: center;
}

.products .product-more a
{
	font-size: 22px;
	font-family: 'Rubik',sans-serif;
	padding: 10px 50px;
	background-color: #0366a9;
	color: #fff;
	box-shadow: 2px 5px 5px #000;
}

.products .product-more a:hover
{
	box-shadow: none;
	color: #000;
}

/*-------------------------testimonial-----------------------*/
.testimonial
{
	background-color: #262626;
	width: 100%;
	padding: 70px 0;
	position: relative;
}

.testimonial h2
{
	font-size: 2.5rem;
	color: #0366a9;
	font-family: 'Arvo',sans-serif;
	text-align: center;
	text-transform: uppercase;
}

.testimonial h2:after
{
	content: '';
	display: block;
	background: #93ce4d;
	height: 2px;
	width: 150px;
	margin: 10px auto;
}

.item
{
	margin-top: 50px;
}

.testimonial .carousel-control-prev,
.testimonial .carousel-control-next
{
	background: transparent;
	margin: 0 -50px;
}

.image-area
{
	width: 100px;
	height: 100px;
	margin: auto;
	border: 1.6px solid #fff;
	border-radius: 50%;
	overflow: hidden;
}

.image-area img
{
	width: 100%;
	height: 100%;
}

.testimonial-detail
{
	position: static;
	padding-bottom: 15px;
	padding-top: 0;
}

.testimonial-detail h3
{
	font-size: 26px;
	margin-bottom: 15px;
	margin-top: 20px;
	font-family: 'Rubik',sans-serif;
}

.testimonial-detail h4
{
	font-size: 21px;
	margin-bottom: 15px;
	margin-top: 20px;
	font-family: 'Noto Serif',sans-serif;
	color: #93ce4d;
}

.testimonial-detail  i
{
	font-size: 20px;
	color: #083aaf;
}


.testimonial-detail p
{
	font-size: 17px;
	font-family: 'Courgette',sans-serif;
	margin: auto;
	width: 70%;
	margin-bottom: 10px;
}

.testimonial .carousel-indicators
{
	bottom: -35px;
}

/*--------------------------------team------------------------*/
.team-area
{
	width: 100%;
	padding: 100px 200px;
}

.team-area .team
{
	width: 100%;
}

.team h2
{
	font-size: 3rem;
	color: #0366a9;
	font-family: 'Arvo',sans-serif;
	text-align: center;
	text-transform: uppercase;
}

.team h2:after
{
	content: '';
	display: block;
	background: #93ce4d;
	height: 3px;
	width: 150px;
	margin: 10px auto;
}


.single-team
{
	margin: 0px 20px;
	margin-top: 50px;
}

.img-area
{
	position: relative;
}

.img-area img
{
	width: 100%;
	height: 40vh;
}

.social
{
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translate(-50%,0);
	transition: 0.6s;
	opacity: 0; 
	z-index: 1;
}

.social a i
{
	font-size: 18px;
	text-align: center;
	display: inline-block;
	height: 40px;
	width: 40px;
	line-height: 40px;
	border-radius: 1px;
	border: 0.025rem solid #e6e6e6;
	color: #fff;
	margin-right: 5px;
}

.social a i:hover
{
	background-color: #93ce4d;
	color: #0366a9;
	border: none;
}

.single-team:hover .social
{
	transform: translate(-50%,50%);
	bottom: 50%;
	opacity: 1;
}

.overlay
{
	height: 0%;
	width: 100%;
	background: #333;
	position: absolute;
	top: 0;
	opacity: 0.5;
	transition: 0.5s;
}

.single-team:hover .overlay
{
	opacity: 0.5;
	height: 100%;
}

.single-team .img-text
{
	padding: 15px;
	background-color: #000;
	text-align: center;
}

.img-text h4
{
	font-size: 1.5rem;
	color: #fff;
	font-family: 'Rubik',sans-serif;
}

.img-text h5
{
	font-size: 1.1rem;
	color: #93ce4d;
	font-family: 'Arvo',sans-serif;
}

/*-----------------------------it------------------*/
.it
{
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/7.jpg);
	background-size: cover;
	background-position: center;
	padding: 140px 200px 200px 200px;
}

.it .texture
{
	text-align: right;
}

.it .texture p
{
	color: #fff;
	font-size: 28px;
	text-transform: uppercase;
	font-family: 'Noto Serif',sans-serif;
	margin: 0;
}

.it .texture h2
{
	color: #fff;
	font-size: 5rem;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-family: 'Arvo',sans-serif;
}

.it .works
{
	display: flex;
	flex-direction: row;
	float: right;
	margin-top: 15px;
}

.it .works .work
{
	text-align: center;
	margin-left: 50px;
}

.it .works .work h3
{
	color: #93ce4d;
	font-size: 3.5rem;
	text-transform: uppercase;
	font-family: 'Rubik',sans-serif;
}

.it .works .work p
{
	color: #fff;
	font-size: 1.1rem;
	text-transform: uppercase;
	font-family: 'Rubik',sans-serif;
}

/*-------------------------------footer-----------------------*/
.footer
{
	width: 100%;
	height: 100%;
	background-color: #1a1a1a;
	padding: 55px 200px 30px 200px;
}

.heading h3
{
	font-size: 1.5rem;
	text-transform: uppercase;
	color: #fff;
	font-family: 'Arvo',sans-serif;
}

.heading h3:after
{
	content: '';
	display: block;
	background: #93ce4d;
	height: 2px;
	width: 100px;
	margin: 10px 0;
}

.heading .links
{
	margin-top: 5vh;
}

.heading .links ul li
{
	list-style-type: none;
	color: #f2f2f2;
	letter-spacing: 1px;
	font-family: 'Rubik',sans-serif;
	font-size: 15px;
	margin-bottom: 10px;
	text-transform: uppercase;
	width: 70%;
}

.heading .links ul li i
{
	padding-right: 10px;
	color: #0366a9;
}

.heading .links ul li:hover
{
	color: #93ce4d;
}

.heading .contact-info
{
	margin-top: 3vh;
}

.heading .contact-info ul li
{
	color: #93ce4d;
	list-style-type: none;
	font-size: 1.1rem;
	font-family: 'Noto Serif',sans-serif;
}

.heading .contact-info ul li p
{
	color: #fff;
	font-size: 14px;
	font-family: 'Rubik',sans-serif;
}

.heading .social-media a i
{
	text-align: center;
	display: inline-block;
	height: 40px;
	width: 40px;
	line-height: 40px;
	border-radius: 1px;
	border: 0.025rem solid #e6e6e6;
	color: #fff;
	margin-right: 5px;
}

.heading .social-media a i:hover
{
	background-color: #93ce4d;
	color: #000;
	border: none;
}

.footer .visitor
{

	width: 100%;
	display: flex;
	flex-direction: row;
	text-align: center;
	margin-top: 20px;
}

.visitor-counter h1
{
	display: inline-flex;
	font-size: 2.5rem;
	color: #0366a9;
	font-family: 'Noto Serif',sans-serif;
}

.visitor-counter p
{
	padding: 0 15px;
	width: 100%;
	font-size: 14px;
	color: #fff;
	font-family: 'Rubik',sans-serif;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.rights
{
	background-color: #000;
	padding: 10px 200px;
}

.rights p
{
	color: #93ce4d;
	margin-top: 10px;
	font-size: 15px;
	font-family: 'Noto Serif',sans-serif;
}

